


/* ----------------- PANEL ------------------- */

#panel {
  background-color: rgba(0, 0, 0, 0);
  height: 1.86em;
  margin: 0.5em;
  
  transition-duration: 250ms;
  margin: 5px 22px 0 22px;
}
.panel-button {
  color: #d7d7ff;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.5s;

  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  margin-left: 5px;
  margin-right: 5px;
}
.panel-button:hover {
  box-shadow: none;
  color: #bd93f9;
}
.panel-button:active {
  box-shadow: none;
  color: #bd93f9;
}


/* ------- Activities ------- */
.workspace-dot {
  background-color: #bd93f9;
  width: 1.0em;
  border-radius: 0.2em;
}
#panelActivities:hover .workspace-dot {
  background-color: #50FA7B;
  width: 1.0em;
  border-radius: 0.2em;
}
#panel:overview #panelActivities.panel-button .workspace-dot {
  background-color: #50FA7B;
  width: 1.0em;
  border-radius: 0.5em;
}
#panel:overview #panelActivities.panel-button {
  background-color: #000000;
  width: 1.0em;
  border-radius: 0.5em;
  box-shadow: none;
}
#panel:overview #panelActivities:hover .workspace-dot {
  background-color: #bd93f9;
  width: 1.0em;
  border-radius: 0.5em;
}


/* ------- Panel Corner ------- */
.quick-settings-grid > * {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.5em;
  color: #c8a5ff;
  spacing-rows: 0em;
  spacing-columns: 0em;
  padding: 0.0em;
  margin: 0.0em;
  max-height: 1.0em;
  max-width: 1.0em;
}
.quick-settings .icon-button {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.5em;
  color: #e5e5e5;
}
.quick-settings .icon-button:hover {
  background-color: #282a36;
  border-radius: 0.5em;
  color: #c8a5ff;
}
.quick-settings .icon-button:active {
  background-color: #282a36;
  border-radius: 0.5em;
  color: #50FA7B;
}
.quick-menu-toggle {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.5em;
  color: #c8a5ff;
}
.quick-toggle {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.5em;
  color: #e5e5e5;
}
.quick-toggle:hover {
  background-color: #282a36;
  border-radius: 0.5em;
  color: #e5e5e5;
}
.quick-toggle:checked .quick-toggle-icon{
  color: #50FA7B;
}
.quick-toggle:checked {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.5em;
  color: #c8a5ff;
}
.quick-toggle:checked:hover {
  background-color: #282a36;
  border-radius: 0.5em;
  color: #c8a5ff;
}
.quick-menu-toggle {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0em;
  color: #c8a5ff;
  box-shadow: none;
  padding: 0.0em;
  margin: 0.0em;
}
.quick-menu-toggle .quick-toggle-arrow {
  background-color: transparent;
  border-radius: 0em;
  color: #c8a5ff;
  padding: 0.0em;
  margin: 0.0em;
  outline: none;
  border: none;
}
.quick-menu-toggle .quick-toggle-arrow:checked,
.quick-menu-toggle .quick-toggle-arrow:hover,
.quick-menu-toggle .quick-toggle-arrow:hover {
  background-color: transparent;
  border-radius: 0em;
  color: #50FA7B;
  padding: 0.0em;
  margin: 0.0em;
  box-shadow: none;
  outline: none;
}
.quick-toggle-menu {
  background-color: rgba(0, 0, 0, 1) !important;
  border-radius: 0.5em;
  color: #c8a5ff;
  padding: 0.0em;
  margin: 0.0em;
}
.quick-toggle-menu .popup-menu-item:hover,
.quick-toggle-menu .popup-menu-item:focus,
.quick-toggle-menu .popup-menu-item.selected {
  background-color: rgba(0, 0, 0, 1) !important;
  border-radius: 0.5em;
  color: #c8a5ff;
}
.quick-toggle-menu .header {
  background-color: rgba(0, 0, 0, 1) !important;
  border-radius: 0.5em;
  color: #c8a5ff;
  font-family: "CaskaydiaCove Nerd Font";
  font-style: italic;
  font-feature-settings: "ss01";

}
.quick-toggle-menu .header .icon {
  background-color: rgba(0, 0, 0, 1) !important;
  border-radius: 0.5em;
  color: #c8a5ff;
}
.quick-toggle-menu .header .icon.active {
  background-color: rgba(0, 0, 0, 1) !important;
  border-radius: 0.5em;
  color: #50FA7B;
}
#overview-controls {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.5em;
  color: #c8a5ff;
}

.quick-settings-system-item .power-item {
  background-color: rgba(0, 0, 0, 1) !important;
  border-radius: 0.5em;
  color: #c8a5ff;
}

/*--------------------------  Test   ---------------------------*/
/* StIcon:nth-last-child(5) { */
/*   color: #50FA7B; */
/* } */
.clipboard-indicator-icon {
  color: #50FA7B;
}
.color-picker-systray {
  color: #bd93f9;
}
.color-picker-systray:hover {
  color: #50FA7B;
}
.vitals-panel-label {
  /* color: gray; */
  font-size: 0.9em;
  padding: 0.5em;
}
.vitals-panel-icon-memory:hover {
  color: white;
}
.vitals-panel-icon-memory {
  color: #f1fa8c;
}
.vitals-panel-icon-system {
  color: #6272a4;
}
.vitals-panel-icon-network {
  color: #8be9fd;
}

.drive-menu-item {
  color: #50FA7B;
}

/* .icon-dropshadow { */
/*   color: #50FA7B; */
/*   border: none; */
/* } */
/* .TimerMenuIcon { */
/*   color: #50FA7B; */
/*   border: none; */
/* } */
/* .extension-list-item { */
/*   color: #50FA7B; */
/*   border: none; */
/* } */
/* .system-status-icon { */
/*   color: #50FA7B; */
/*   border: none; */
/* } */
.popup-menu-button-active {
  color: yellow;
 border: 1px solid #ee5396;
  box-shadow: none; 
}
.no-spacing {
  margin: 10em;
  padding: 10em;
  font-family: "CaskaydiaCove Nerd Font";
  font-style: italic;
  font-feature-settings: "ss01";
  color: #ffffff;
  /* color: #50FA7B; */
}
/*   .system-status-icon { */
/*   color: #50FA7B; */
/*   border: none; */
/* } */
.media-playback-pause-symbolic {
  color: yellow;
  border: none;
}
#iconPlayPause {
  color: yellow;
  border: none;
}
/*--------------------------  Test   ---------------------------*/
/* Clock */
.panel-button.clock-display {
  font-family: "CaskaydiaCove Nerd Font";
  font-style: italic;
  font-feature-settings: "ss01";
}
.clock {
  color: #ffffff;
}
.panel-button.clock-display:hover .clock {
  box-shadow: none;
}
.panel-button.clock-display:active .clock {
  box-shadow: none;
}
.panel-button.clock-display:active {
  border: 1px solid #bd93f9;
}

.datemenu-today-button {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #c8a5ff;
  border-radius: 0.5em;
  color: #c8a5ff;
}
.datemenu-today-button .date-label {
  font-family: "CaskaydiaCove Nerd Font";
  font-style: italic;
  font-feature-settings: "ss01";
  color: #F8F8F2;
}
.pager-button:focus {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #ee5396;
  box-shadow: none !important;
}
.pager-button:hover {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #ee5396;
}
.page-button::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
  border: 0;
}
.calendar .calendar-today:focus {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #ee5396;
  outline: none;
}
.calendar-day::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
  border: 0;
}
.calendar .calendar-day {
  border-radius: 0.2em;
  outline: none;
}
.calendar .calendar-today {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #ee5396;
}
.calendar .calendar-day:hover {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #ee5396;
}
.calendar .calendar-day:focus {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #ee5396;
  box-shadow: none !important;
}

.popup_menu, .message, .events-button, .world-clocks-button, .weather-button {
  background-color: rgba(0, 0, 0, 1);
  /* border: 1px solid #c8a5ff; */
  border-radius: 0.3em;
  color: #d7d7ff;
}
.events-button:hover, .world-clocks-button:hover, .weather-button:hover {
  /* border: 1px solid #ee5396; */
  /* cursor: hand; */
  /* cursor: pointer !important; */
  background-color: #282a36;
}


/*--------------------------  OVERVIEW   ---------------------------*/
#overview {
  background-color: rgba(0, 0, 0, 1);
  /* spacing: 0.5em; */
}
.workspace-background {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #c8a5ff;
}
.workspace-thumbnail {
  background-color: rgba(10, 10, 10, 1);
}
.workspace-thumbnail-indicator {
  border: 1px solid #c8a5ff;
}

.search-entry {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #c8a5ff;
  border-radius: 0.5em;
  font-family: "CaskaydiaCove Nerd Font";
  font-style: italic;
  font-feature-settings: "ss01";
}
.search-entry:focus {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ee5396;
  box-shadow: none;
  outline: none;
}
.search-entry:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ee5396;
  box-shadow: none;
  outline: none;
}
.search-entry .search-entry-icon {
  color: #25be6a;
  font-style: bold;
}
/* .search-entry StLabel.hint-text { */
/*   color: #444444; */
/*   font-style: bold; */
/* } */


/*--------------------------  SEARCH   ---------------------------*/
#searchResultsContent StLabel {
  font-family: "CaskaydiaCove Nerd Font";
  font-style: italic;
  font-feature-settings: "ss01";
}
.search-section .search-section-separator {
  background-color: rgba(10, 10, 10, 1);
  border: 1px solid #c8a5ff;
  border-radius: 0.5em;
}
.search-section-content {
  background-color: rgba(0, 0, 0, 1);
}
.list-search-results {
  background-color: rgba(0, 0, 0, 1);
}
.list-search-result {
  background-color: rgba(0, 0, 0, 1);
}

/*--------------------------  DASH   ---------------------------*/
#dashtodockContainer.bottom.shrink #dash .dash-background {
  /* background-color: rgba(0, 0, 0, 1); */
  /* border: 1px solid #c8a5ff; */
  border-radius: 0px !important;
  /* background-size: contain; */
  
}
.dash-item-container {
  border-radius: 0em;
}
#dash {
  color: #c8a5ff;
  border-radius: 0em;
  /* border: 1px solid #78a9ff; */
  /* background-color: rgba(0, 0, 0, 1); */
  /* margin: 1.5em; */
  /* padding: 1.5em; */
  /* transform: translateY(0.5em); */
}
.dash-background {
  background-color: rgba(0, 0, 0, 1);
  /* border: 1px solid #78a9ff; */
  border-radius: 0px !important;
  box-shadow: none;
  transform: translateY(5.5em);
}
.dash-item-container {
  margin: 0em;
  padding: 0em;
}
.dash-label {
  color: #c8a5ff;
  font-family: "CaskaydiaCove Nerd Font";
  font-style: italic;
  font-feature-settings: "ss01";
}
.dash-separator {
  width: 5px;
  margin: 10 7px 0.5em;
}
#dashtodockContainer .app-well-app-running-dot {
  background-color: #78a9ff;
  border: 1px solid black;
  border-radius: 0em;
  color: #c8a5ff;
  width: 1.0em;
  border-radius: 0.5em;
}
#dashtodockContainer StWidget.focused .app-well-app-running-dot {
  background-color: #50FA7B;
  transform: rotate(45deg);
}
#dashtodockContainer.extended:overview {
  background-color: #50FA7B;
  color: #c8a5ff;
}


/*--------------------------  MENU POP UP   ---------------------------*/
.popup-menu-boxpointer {
  /* border: 1px solid #c8a5ff; */
  /* border-radius: 0.5em; */
  /* color: #c8a5ff; */
  color: #d7d7ff;
}
.popup-menu .popup-menu-item {
  /* background-color: rgba(0, 0, 0, 1); */
  /* border-radius: 0.5em; */
  /* color: #c8a5ff; */
}
.popup-menu .popup-menu-content {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 0.3em;
  /* border: none; */
  box-shadow: none;
  margin: 1.5em;
}
.popup-menu .popup-menu-item {
  padding: 0.2em;
  margin: 0.1em;
  border-radius: 0.1em;
}
.popup-menu .popup-menu-item:checked, .popup-menu .popup-menu-item:hover, .popup-menu .popup-menu-item:focus {
  background-color: #282a36;
  box-shadow: none;
}

.popup-menu .button:active {
  background-color: #282a36;
  box-shadow: none;
}

.popup-menu .popup-sub-menu {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: none;
}
.popup-menu .popup-sub-menu .popup-menu-item {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: none;
}
.popup-menu .popup-sub-menu .popup-menu-item:hover {
  background-color: #282a36;
  box-shadow: none;
}




.slider {
  /* background-color: rgba(0, 0, 0, 1); */
  /* border: 1px solid #c8a5ff; */
  /* border-radius: 0.5em; */
  color: #c8a5ff;
  -slider-height: 1.0em;
  -slider-active-background-color: #50FA7B;
  -barlevel-background-color: #c8a5ff;
  -barlevel-active-border-color: #50FA7B;
  -barlevel-border-color: #c8a5ff;
  -barlevel-border-radius: 0.5em;
  -barlevel-overdrive-color: #50FA7B;
  
  
}
